@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bkg: 255, 255, 255;
  --color-content: 255, 255, 255;
  --color-primary: '#2C2726'
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-bkg: 44, 39, 38;
    --color-content: 72, 64, 62;
    --color-primary: 255, 255, 255;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}